app-movie {
  button {
    margin-bottom: 0.5rem;
  }

  .back-button {
    background-color: rgba(100, 148, 237, 0.7);
    margin-top: 1rem;
    span.mdc-button__label {
      color: #ffffff;
    }
  }

  mat-card-title {
    color: #6495ed;
    font-weight: 500;
  }

  mat-card-content {
    p {
      color: #6495ed;
    }
  }

  .mat-mdc-card-subtitle {
    color: #84a8ec;
  }

  mat-slide-toggle {
    label {
      font-weight: bolder;
      color: #6495ed;
    }
  }

  mat-card.poster-image {
    max-width: 25rem;
    background-color: rgba(100, 148, 237, 0.1);
    box-shadow: 6px 5px 14px -5px rgba(100, 148, 237, 0.5);

    border: 2px solid rgba(100, 148, 237, 0.15);
    border-radius: 5px;

    mat-slide-toggle {
      margin: 1rem 0 1rem 0.75rem;
    }
  }

  .main-container {
    display: flex;
    gap: 2rem;

    mat-card.video-card {
      background-color: rgba(100, 148, 237, 0.1);
      max-width: 40rem;
      padding: 0.5rem;

      border: 2px solid rgba(100, 148, 237, 0.15);
      border-radius: 5px;
      padding: 1rem;
      background-color: rgba(100, 148, 237, 0.1);
      box-shadow: 6px 5px 14px -5px rgba(100, 148, 237, 0.5);

      iframe {
        margin: 1rem auto;
      }
    }
  }

  .card-image {
    max-width: 20rem;
    margin: 0 auto;
  }
}
