app-movie {
  button {
    margin-bottom: 0.5rem;
  }

  .back-button {
    background-color: rgba(100, 148, 237, 0.7);
    margin-top: 1rem;
    span.mdc-button__label {
      color: #ffffff;
    }
  }

  mat-card-title {
    color: #6495ed;
    font-weight: 500;
  }

  mat-card-content {
    p {
      color: #6495ed;
    }
  }

  .mat-mdc-card-subtitle {
    color: #84a8ec;
  }

  mat-card.poster-image {
    background-color: rgba(100, 148, 237, 0.1);
    border-radius: 0.3125rem;
    border: 0.125rem solid rgba(100, 148, 237, 0.15);
    box-shadow: 0.375rem 0.3125rem 0.875rem -0.3125rem rgba(100, 148, 237, 0.5);
    max-width: 25rem;

    mat-slide-toggle {
      margin: 1rem 0 1rem 0.75rem;

      label {
        color: #6495ed;
        font-weight: bolder;
      }
    }
  }

  .main-container {
    display: flex;
    gap: 2rem;

    mat-card.video-card {
      background-color: rgba(100, 148, 237, 0.1);
      background-color: rgba(100, 148, 237, 0.1);
      border-radius: 0.3125rem;
      border: 0.125rem solid rgba(100, 148, 237, 0.15);
      box-shadow: 0.375rem 0.3125rem 0.875rem -0.3125rem rgba(100, 148, 237, 0.5);
      max-width: 40rem;
      padding: 0.5rem;
      padding: 1rem;

      iframe {
        margin: 1rem auto;
      }
    }
  }

  .card-image {
    margin: 0 auto;
    max-width: 20rem;
  }
}
